.tile {
  padding: 0.75rem;
  flex: 1 1 100%;
  min-width: 40px;
  min-height: 40px;
}

.close {
  &:hover {
    cursor: pointer;
  }

  &.even {
    background-color: var(--mui-palette-grass-main);
  }

  &.even:hover {
    background-color: var(--mui-palette-grass-light);
  }

  &.odd {
    background-color: var(--mui-palette-grass-dark);
  }

  &.odd:hover {
    background-color: var(--mui-palette-grass-light);
  }

  &.up {
    border-top: 2px solid #98be5b;
  }
  &.down {
    border-bottom: 2px solid #98be5b;
  }
  &.left {
    border-left: 2px solid #98be5b;
  }
  &.right {
    border-right: 2px solid #98be5b;
  }
}

.open {
  &.even {
    background-color: var(--mui-palette-ground-main);
  }

  &.odd {
    background-color: var(--mui-palette-ground-light);
  }
}
