.tile {
  padding: 0.5rem;
  flex: 1 1 100%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;
}

.close {
  &:hover {
    cursor: pointer;
  }

  &.even {
    background-color: var(--mui-palette-grass-main);
    border: 2px solid var(--mui-palette-grass-main);
  }

  &.even:hover {
    background-color: var(--mui-palette-grass-light);
  }

  &.odd {
    background-color: var(--mui-palette-grass-dark);
    border: 2px solid var(--mui-palette-grass-dark);
  }

  &.odd:hover {
    background-color: var(--mui-palette-grass-light);
  }

  &.up {
    border-top: 2px solid #98be5b;
  }
  &.down {
    border-bottom: 2px solid #98be5b;
  }
  &.left {
    border-left: 2px solid #98be5b;
  }
  &.right {
    border-right: 2px solid #98be5b;
  }
}

.open {
  &.even {
    background-color: var(--mui-palette-ground-main);
    border: 2px solid var(--mui-palette-ground-main);
  }

  &.odd {
    background-color: var(--mui-palette-ground-light);
    border: 2px solid var(--mui-palette-ground-light);
  }
}

.one {
  color: var(--mui-palette-primary-dark);
}
.two {
  color: #008200;
}
.three {
  color: var(--mui-palette-warning-dark);
}
.four {
  color: #000185;
}
.five {
  color: var(--mui-palette-error-dark);
}
.six {
  color: #008284;
}
.seven {
  color: #840084;
}
.eight {
  color: #757575;
}
