.header {
  background-color: var(--mui-palette-secondary-main);
  padding: 1rem;
  border: 2px solid #98be5b;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
